{{define "content"}}
<main class="container" style="padding-top: 8rem; padding-bottom: 6rem; min-height: 100vh;">
    <header class="section-header">
        <div class="section-title-container">
            <h1 style="font-size: 3rem; font-weight: 500; letter-spacing: -0.05em; line-height: 1; margin: 1.5rem 0;">Blog</h1>
        </div>
    </header>

    <div class="article-grid">
        {{range .Posts}}
            <a href="{{.Href}}" class="article-card">
                <div class="image">
                    {{if .Image}}
                        <img src="{{.Image}}" alt="{{.Title}}">
                    {{end}}
                    <div class="overlay"></div>
                    {{if .Badge}}
                        <div class="image-badge">{{.Badge}}</div>
                    {{end}}
                </div>
                <div class="content">
                    <div class="meta">
                        {{if .Date}}
                            <time class="date">{{.Date}}</time>
                        {{end}}
                    </div>
                    <h3>{{.Title}}</h3>
                </div>
            </a>
        {{end}}
    </div>
</main>
{{end}}
