{{define "content"}}
<header class="hero-header">
    <div class="bg-grid"></div>
    <div class="hero-content">
        <h1>
            The Intelligence Platform <br>
            <span class="hero-muted">of the People</span>
        </h1>
        <div class="cta-container">
            <a href="https://nash.ohrats.party" class="cta-button">GET STARTED</a>
        </div>
    </div>
</header>

{{template "marquee" .}}

{{template "nash_section" .}}

{{template "intelligence_section" .}}

{{template "blog_section" .}}
{{end}}
