{{define "marquee"}}
<section class="marquee-section">
    <div class="container">
        <div class="marquee-wrapper">
            <div class="marquee">
                <div class="marquee-set">
                    <span class="marquee-item">COMPETITIVE INTELLIGENCE</span>
                    <span class="marquee-item">DATA SCIENCE</span>
                    <span class="marquee-item">OPEN KNOWLEDGE</span>
                    <span class="marquee-item">RESEARCH AND DEVELOPMENT</span>
                </div>
                <div class="marquee-set">
                    <span class="marquee-item">COMPETITIVE INTELLIGENCE</span>
                    <span class="marquee-item">DATA SCIENCE</span>
                    <span class="marquee-item">OPEN KNOWLEDGE</span>
                    <span class="marquee-item">RESEARCH AND DEVELOPMENT</span>
                </div>
                <div class="marquee-set">
                    <span class="marquee-item">COMPETITIVE INTELLIGENCE</span>
                    <span class="marquee-item">DATA SCIENCE</span>
                    <span class="marquee-item">OPEN KNOWLEDGE</span>
                    <span class="marquee-item">RESEARCH AND DEVELOPMENT</span>
                </div>
                <div class="marquee-set">
                    <span class="marquee-item">COMPETITIVE INTELLIGENCE</span>
                    <span class="marquee-item">DATA SCIENCE</span>
                    <span class="marquee-item">OPEN KNOWLEDGE</span>
                    <span class="marquee-item">RESEARCH AND DEVELOPMENT</span>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}

