@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* DaisyUI Theme Configuration - default theme */
  --color-primary: #34bf49;
  --color-secondary: #AEE5B6;
  --color-accent: #FF8187;
  --color-neutral: #000000;
  --color-base-100: #AEE5B6;
  --color-base-content: #000000;
}
